<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Content</key>
	<array>
		<string>Thus I have heard.&lt;br /&gt;Once, the Buddha was staying in the
Anathapindada’s Park at Jeta Grove in Shravasti, with a
community of 1,250 bhiksus. When it was mealtime, the World
Honored One put on his robe, took his alms-bowl, and went into
the great city of Shravasti, going from house to house to beg for
food. This done, he returned to his abiding place, finished the
meal, put away his robe and bowl, washed his feet, arranged his
seat, and sat down.</string>
		<string>Then, the elder Subhuti in the assembly arose from his seat,
bared his right shoulder, knelt on his right knee with his palms
joined, and respectfully addressed the Buddha: “How remarkable, World Honored One, that the Tathagata is ever-mindful of bodhisattvas, protecting and instructing them well! World Honored One, when good men and good women resolve
to attain unsurpassed complete enlightenment(anuttara-samyak-sambodhi), how should they abide their mind, and how should they subdue their thoughts?&quot;

The Buddha said, “Excellent! Excellent! Subhuti, it is as you have
said. The Tathagata is ever-mindful of bodhisattvas, protecting and
instructing them well. Now listen attentively, and I shall explain
it for you: Good men and good women who resolve to attain unsurpassed complete enlightenment should thus abide and subdue their thoughts.” The Venerable Subhuti said:
“Yes, World Honored One. We are listening with great anticipation.&quot;</string>
		<string>The Buddha said to Subhuti: “The bodhisattvas and mahasattvas
should thus subdue their thoughts: All the different types of
sentient beings, whether they are born from eggs, from wombs,
from moisture, or by transformation; whether or not they have
form; whether they have thoughts or no thoughts, or have
neither thought nor non-thought, I will liberate them by leading
them to nirvana without residue. When immeasurable, countless,
infinite numbers of sentient beings have been liberated, in
reality, no sentient beings have been liberated. Why is this so?
Subhuti, if bodhisattvas abide in the notions of a self, a person, a
sentient being, or a life span, they are not bodhisattvas.” </string>
		<string>“Furthermore, Subhuti, in the practice of charity,
bodhisattvas should abide in nothing whatsoever. That is, to practice charity without attachment to form, sound, smell, taste, touch, or
dharmas. Subhuti, bodhisattvas should practice charity this way,
without attachment to anything. Why? If bodhisattvas practice
charity without attachment, their merits are immeasurable.
Subhuti, what do you think? Is the space in the eastern direction
measurable?” “No, World Honored One, it is immeasurable.”
“Subhuti, is any of the space above or below, in the four
cardinal directions, or in the four intermediate directions
measurable?” “They are immeasurable, World Honored One.”

“Subhuti, the merits attained by bodhisattvas who practice
charity without attachment are also immeasurable like space.
Subhuti, bodhisattvas should abide in this teaching.”</string>
		<string>“Subhuti, what do you think? Can one recognize the
Tathagata by means of his physical appearance?” “No, World Honored
One. One cannot recognize the Tathagata by his physical
appearance. Why not? The Tathagata teaches that physical
appearances are actually not physical appearances.”
The Buddha said to Subhuti: “All appearances are illusory. To see that
appearances are not appearances is to see the Tathagata.” </string>
		<string>Subhuti addressed the Buddha, “World Honored One, will there
be any sentient beings who give rise to true faith upon hearing
this teaching?” The Buddha said to Subhuti, “Do not even say
such a thing. After my passing, in the last five hundred years [of
the Dharma ending age], there will be those who observe the
precepts and cultivate merit, who have faith that these are words
of truth. You should know that these people have not merely
cultivated the roots of virtue with one buddha, two buddhas,
three, four, or five buddhas; they have cultivated all kinds of
virtuous roots with hundreds of thousands, even countless
numbers of buddhas. Upon hearing these passages, Subhuti,
some will, in an instant, give rise to pure faith.

The Tathagata fully knows and fully sees these beings as they attain such
countless merits. Why? It is because these sentient
beings are free from the notions of a self, a person, a sentient being, or a
life span. They are also free from the notions of dharmas or non-
dharmas. 

“Why? If the minds of these sentient beings cherish
these notions, then they will cling to a self, a person,
a sentient being, and a life span. If they cherish the notion of dharmas, they will cling to a self, a person, a sentient being, and a life span. Why?
If they cherish the notion of non-dharmas, they will cling to a
self, a person, a sentient being, and a life span.
Therefore one should not cherish dharmas or non-dharmas. For this reason, the
Tathagata often teaches: Bhiksus, know that my Dharma is like a raft. If even the correct teachings (Dharma) should be abandoned, how much more so the incorrect teachings (non-Dharma)?”</string>
		<string>“Subhuti, what do you think? Has the Tathagata attained
unsurpassed complete enlightenment? And does he explain the
Dharma?” Subhuti said: “As I understand the meaning of what
the Buddha has said, there is no fixed teaching called unsurpassed complete enlightenment. And there is also no fixed teaching that the Tathagata can convey. Why? The Dharma explained by the Tathagata cannot be grasped or explained.
They are neither Dharmas nor non-Dharmas. How is this so? It is because all the saints and sages are distinguished by the Unconditioned Dharma.” </string>
		<string>“Subhuti, what do you think? If a person were to fill a
trichiliocosm with the seven jewels and give them away in
charity, wouldn’t the merit attained by this person be great?”
Subhuti said, “Extremely great, World Honored One.
Why? The nature of merit is empty; therefore the Tathagata says that this
merit is great.” The Buddha said: “But if a person comprehends
and follows even a four-line verse of this sutra, and teaches it to
others, this person’s merit would exceed that of the former
example. Why? Subhuti, all buddhas and all of their teachings on unsurpassed complete enlightenment originate from this
sutra. Subhuti, that which is called the Buddha Dharma is not the Buddha Dharma; therefore it is called the Buddha Dharma.” </string>
		<string>“Subhuti, what do you think? Does a srotapanna have the thought: ‘I have attained the realization of the srotapanna’?”
Subhuti said, “No, World Honored One. Why not? Because ‘srotapanna’ means ‘stream-enterer,’ and there is in fact nothing to enter; one who does not enter into form, sound, smell, taste, touch, or dharmas is called a srotapanna.”

“Subhuti, what do you think? Does a sakridagamin have the thought, ‘I have attained the realization of the sakridagamin’?”
Subhuti said: “No, World Honored One. Why not? Although ‘sakridagamin’ means to go and come one more time, there is, in reality, no going and no coming. Therefore he is called a sakridagamin.” 

“Subhuti, what do you think? Does an anagamin have the thought, ‘I have attained the realization of the anagamin’?”
Subhuti said, “No, World Honored One. Why not? ‘Anagamin’ means non-returning [to the human world], but there is, in fact, no such thing as non-returning. Therefore he is called ananagamin.” 

“Subhuti, what do you think? Does an arhat have the thought, ‘I have attained the realization of the arhat’?” Subhuti said, “No, World Honored One. Why not? There is, in reality, no such a thing called ‘arhat.’ World Honored One, if an arhat should give rise to the thought, ‘I have attained the realization of the arhat’, this means that he is attached to the notions of a self, a person, a sentient being, or a life span. 

“World Honored One, you have said that of all people I am the foremost in attaining the samadhi of non-contention, and the foremost arhat in being free from desires. But I do not have the thought that I am an arhat who is free from desires. 
World Honored One, if I were to give rise to the thought that I have attained arhatship, then you would not have said that Subhuti practices aranya—abiding peacefully in non-contention. In reality, Subhuti abides in nothing at all, therefore Subhuti is called one who abides peacefully in non-contention.”</string>
		<string>The Buddha said to Subhuti, “What do you think? When the Tathagata studied under Dipankara Buddha, did he receive any Dharma?” “No, World Honored One, when the Tathagata studied under Dipankara Buddha, he did not receive any Dharma.” 

“Subhuti, what do you think? Does a bodhisattva transform a world into a Buddha world?” “No, he does not, World Honored One. Why not? One who transforms the
world does not transform the world; that is to transform the world.”

“And so, Subhuti, bodhisattvas and mahasattvas should give rise to a pure mind that is not attached to form, sound, smell, taste, touch, or dharmas. The mind should act without any attachments. Subhuti, if there were a person with a body the size of Mt. Sumeru, what do you think? Wouldn’t this body be huge?” “Extremely huge, World Honored One. Why? The Buddha teaches us that a body is not a body, hence it is called a huge body.”  </string>
		<string>“Subhuti, what do you think? If there were as many Ganges Rivers as the grains of sand in the Ganges, wouldn’t the amount of sand contained in all those Ganges Rivers be great?” Subhuti said, “Extremely great, World Honored One. If even the number of the Ganges Rivers is innumerable, how much more so their
grains of sand?” “Subhuti, now I tell you truthfully: If a good man or good woman filled as many trichiliocosms as the grains of sand in all those Ganges Rivers with the seven jewels, and gave them away in charity, wouldn’t this merit be great?” “Extremely great, World Honored One.” The Buddha said to Subhuti: “If a good man or good woman is able to comprehend and follow a four-line verse of this sutra and teach it to others, their merit will be far greater.” </string>
		<string>“Furthermore, Subhuti, wherever one teaches or recites so much as a four-line verse of this sutra, that place should be venerated as a Buddha-shrine by heavenly beings, human beings, and asuras in this world. How much more so is the case where one can completely remember, comprehend, and follow this sutra!
Subhuti, you should know that such a person has achieved the highest, rarest of accomplishments. Wherever this sutra is present, it is as if the Buddha and the Buddha’s revered disciples were also present.” </string>
		<string>Then Subhuti addressed the Buddha, “World Honored One, what should we call this sutra, and how should we uphold it?”
The Buddha said to Subhuti: “This sutra is called the Diamond of Perfect Wisdom. You should revere this title and practice the sutra accordingly. Why? Subhuti, the Buddha teaches that ‘prajna paramita’ (perfection of wisdom) is not prajna paramita.
Therefore it is called prajna paramita. Subhuti, what do you think? Does the Tathagata have any Dharma to teach? ” Subhuti said to the Buddha, “World Honored One, the Tathagata has nothing to teach.” “Subhuti, what do you think? Are all the tiny particles contained in this trichiliocosm great in number?”
Subhuti said, “Extremely great, World Honored One.”“Subhuti, the Tathagata teaches that tiny particles are not tiny particles. Therefore they are called tiny particles. The Tathagata teaches that worlds are not worlds. Therefore they are called worlds. 

“Subhuti, what do you think? Can the Tathagata be recognized by means of his thirty-two physical attributes?” “No, he cannot, World Honored One. One cannot recognize the Tathagata by means of his thirty-two physical attributes. Why not? Because the Tathagata teaches that the thirty-two physical attributes are in fact not real attributes. Therefore they are called the thirty-two physical attributes.” “Subhuti, if a good man or good woman were to dedicate lifetimes as numerous as the grains of sand in the Ganges River to charitable acts, and an other comprehended and followed even a four-line verse of this sutra and taught it to others, the merits gained by the latter would far exceed that of the former.” </string>
		<string>Upon hearing this sermon, Subhuti was moved to tears, having
deeply understood its meaning and significance. He said to the
Buddha: “How remarkable, World Honored One! You have taught us such a profound sutra. Even though I have long attained the Wisdom Eye, I have never heard such a
teaching before. World Honored One, if someone who hears this sutra gives rise to pure faith, and thus perceives the true nature of reality, we should know that this person has achieved the most extraordinary virtue. World Honored One, the true nature of reality is empty. This is what the Tathagata calls the true nature
of reality.
“World Honored One, having just heard this sutra, I have no difficulty in believing, comprehending, and following it. But in the ages to come, in the last five hundred years, if there are sentient beings who hear this sutra, believe, comprehend, and follow it, they will be most remarkable beings. Why? These beings do not abide in the notions of a self, a person, a sentient being, or a lifespan. Why? Because a self is not a self. The appearances of a person, a sentient being, and a life span are likewise illusory. Why? Those who relinquish all appearances and notions are called buddhas.” 

The Buddha said to Subhuti: “So it is, so it is. You should know that if someone who hears the teaching of this sutra is neither shocked, frightened, nor disturbed, this person is extremely rare.
And why? Subhuti, the Tathagata says that the foremost paramita is not the foremost paramita. Therefore it is called the foremost paramita. Subhuti, the Tathagata teaches that tolerance paramita is not tolerance paramita. Therefore it is called tolerance paramita. Why? Subhuti, in a former lifetime my body was mutilated by King Kalinga. At that time, I had no notions of a self, a person, a sentient being, or a life span. Why not? If I had held to the notions of a self, a person, a sentient being, or a life span, when my body was dismembered limb after limb, I would have given rise to feelings of resentment and hatred. 

“Subhuti, I also recall that for five hundred lifetimes I was a
rishi of tolerance. At that time, I was also free from the notions
of a self, a person, a sentient being, or a life span. Therefore,
Subhuti, bodhisattvas should relinquish all appearances and
notions in their resolve to attain unsurpassed complete
enlightenment. They should not give rise to any thought attached to form, sound, smell, taste, touch, or dharma. They should give rise to a mind without any attachments.
Any attachment of the mind is errant. Therefore the Buddha says that a bodhisattva should practice charity with a mind unattached to form. Subhuti, to benefit all sentient beings, a bodhisattva should practice charity in this way. The Tathagata teaches that all appearances and notions are not appearances and notions, and that all sentient beings are not sentient beings. 

“Subhuti, what the Tathagata speaks is true, real, and as it is. His words are neither deceptive nor contradictory. Subhuti, the Truth that the Tathagata has attained is neither real nor unreal.
Subhuti, if a bodhisattva practices charity with attachments, he is like a person in the dark who cannot see anything. If a bodhisattva practices charity without any attachments, he is like a person under the bright sun with eyes open, seeing all things clearly. Subhuti, if in a future time there are good men and women who are able to recite, remember, comprehend, and follow this sutra, the Tathagata, with his Buddha-wisdom, will clearly perceive and recognize each one of them as they all achieve immeasurable and infinite virtues.” </string>
		<string>“Subhuti, if a good man or good woman should renounce their life for charity in the morning as many times as there are grains of sand in the Ganges, and do likewise at noon and in the evening, continuing thus for immeasurable hundreds of thousands of millions of kalpas; and if someone else heard this teaching and gave rise to unwavering faith, the merit of the latter would far exceed that of the former. How much more the merit of those who transcribe, recite, remember, follow, and explain this sutra to others! 

“In summary, Subhuti, this sutra carries inconceivable, immeasurable, limitless virtue, and the Tathagata teaches it for the benefit of the aspirants of the great vehicle, and the aspirants of the supreme vehicle. The Tathagata will know and see those, who are able to recite, remember, follow, and widely teach this sutra to others, as achieving innumerable, immeasurable, limitless, and inconceivable virtues. They carry on the work of the Tathagata in bringing beings to unsurpassed complete enlightenment. Why? Subhuti, those who are content with inferior teachings are attached to the views of a self, a person, a sentient being, and a life span. Such people are not able to hear, recite, remember, and explain this sutra to others.
Subhuti, wherever this sutra is present, all the heavenly and human beings and asuras in all the worlds should come and make offerings. You should know that its presence is equivalent to a pagoda that all should venerate and pay homage to, by circumambulating or scattering flowers and incense around its grounds.”
</string>
		<string>“Furthermore, Subhuti, if there are good men or women who recite, remember, comprehend, and follow this sutra, but are belittled by others, it is because of their previous evil karma, which would cause them to be reborn in the wretched
destinies.
But now, by enduring the disparagement of others, this previous
bad karma is eradicated, and they will eventually attain unsurpassed complete enlightenment. Subhuti, I remember that countless kalpas ago, before the time of Dipankara Buddha, I have encountered 84,000 billion nayutas of buddhas, made offerings to, and served all of them without fail.
However, if someone in the Dharma-ending age can recite, remember,
comprehend, and follow this sutra, this person’s virtue will be one hundred times, even a hundred trillion times greater than mine when I made offerings to all these buddhas. In fact, no such comparison either by calculation or analogy is possible. Subhuti, if I fully revealed the virtue attained by good men and good
women in the Dharma-ending age who recite, remember, comprehend, and follow this sutra, some people, upon hearing it, would become suspicious, skeptical, even bewildered. Subhuti,you should know that the underlying meaning of this sutra is inconceivable, and its rewards are also inconceivable.” </string>
		<string>Then Subhuti addressed the Buddha, “World Honored One, if
good men and good women resolve to attain unsurpassed complete enlightenment, how should they abide their mind, and how should they subdue their thoughts?” The Buddha said to Subhuti: “Good men and good women who resolve to attain
unsurpassed complete enlightenment should think like this: ‘I will liberate all sentient beings by bringing them to nirvana.’
Yet when all sentient beings have been liberated, not a single sentient being has actually attained nirvana. Why not? Subhuti, if bodhisattvas abide in the notions of a self, a person, a sentient being, or a life span, they are not bodhisattvas. Why? Subhuti, there is actually no resolve for the attainment of unsurpassed complete enlightenment. 

“Subhuti, what do you think? When the Tathagata met Dipankara Buddha, did he obtain anything in order t o realize unsurpassed complete enlightenment?” “No, World Honored One. As I understand the meaning of your teaching,
when you met Dipankara Buddha, there was nothing to obtain for the realization of unsurpassed complete enlightenment.”
The Buddha said, “So it is, Subhuti, so it is. There is indeed nothing that can produce the unsurpassed complete enlightenment of the Tathagata. Subhuti, if there were something that could produce the unsurpassed complete enlightenment of the Tathagata, Dipankara Buddha would not have foretold, ‘You will attain Buddhahood in the future, with the name Shakyamuni.
’ It is precisely because there is actually nothing to be obtained in unsurpassed complete enlightenment that Dipankara Buddha foretold, ‘You will attain Buddhahood in the future, with the name Shakyamuni.’ 

Why? This is because ‘tathagata’ means ‘all phenomena (dharmas) as they really are.’ If someone says that the Tathagata attained unsurpassed complete enlightenment, Subhuti, there is in fact, nothing to attain in the Buddha’s unsurpassed complete enlightenment. Subhuti, the unsurpassed complete enlightenment attained by the Tathagata is neither real nor unreal. Therefore the
Tathagata teaches that all dharmas are the Buddha Dharma.
Subhuti, the so-called ‘all dharmas’ are not dharmas at all. Therefore they are called ‘all dharmas.’ 

“Subhuti, take the example of a person with an immense, perfect body.” Subhuti said, “World Honored One, the person with the immense, perfect body has no such body; therefore it is called an immense, perfect body.” “Subhuti, so it is with
a bodhisattva.
If someone says, ‘I will bring countless sentient beings to
nirvana,’ then he is not a bodhisattva. Why? Subhuti, there is actually no such thing called a bodhisattva. Therefore the Buddha says that all phenomena are free from the ideas of a self, a person, a sentient being, or a life span. Subhuti, if a bodhisattva says ‘I will transform the world into a Buddha world,’ then he is not a bodhisattva. Why? The Tathagata teaches that one who transforms the world is not the one who transforms the world. That is to transform the world. Subhuti, if a bodhisattva realizes the Dharma of non-self, the Tathagata says this is a real bodhisattva.”</string>
		<string>“Subhuti, what do you think? Does the Tathagata have the physical eye?” “Yes, World Honored One. The Tathagata has the physical eye.” “Subhuti, what do you think? Does the Tathagata have the divine eye?” “Yes, World Honored One, the
Tathagata has the divine eye.” “Subhuti, what do you think? Does the
Tathagata have the wisdom eye?” “Yes, World Honored One, the Tathagata has the wisdom eye.” “Subhuti, what do you think?
Does the Tathagata have the Dharma eye?” “Yes, World Honored One. The Tathagata has the Dharma eye.” “Subhuti, what do you think? Does the Tathagata have the Buddha eye?” “Yes, World Honored One. The Tathagata has the Buddha eye.” “Subhuti, what do you think? Does the Buddha consider all the sand in the Ganges River as sand?” “Yes, World Honored One, the Tathagata calls it ‘sand.’” “Subhuti, what do you think? If there were as many Ganges Rivers as there are grains of sand in the Ganges River, and there were a Buddha world for each grain of sand of all those rivers, would the number of those Buddha worlds be great?”
“Great indeed, World Honored One.” 

The Buddha said to Subhuti: “The Tathagata is fully aware of the thoughts of each sentient being dwelling in all these Buddha worlds.
How is it so? The Tathagata says all these thoughts are not thoughts. Therefore they are called thoughts. Why, Subhuti? Because past thoughts are intangible, present thoughts are intangible, and future thoughts are intangible.” </string>
		<string>“Subhuti, what do you think? If a person were to fill all the worlds of the trichiliocosm with the seven jewels and give them all away in charity, wouldn’t this person’s merit be great?” “Yes, World Honored One, this person’s merit from such an act would be extremely great.” “Subhuti, if this merit were real, the Tathagata would not say that there is great merit.
It is because this merit is non-existent that the Tathagata says that the merit is great.” </string>
		<string>“Subhuti, what do you think? Can the Buddha be recognized by
means of his perfect physical body?” “No, World Honored One.
The Tathagata cannot be recognized by means of his perfect physical body. Why? The Tathagata teaches that a perfect physical body is not a perfect physical body, hence it is called a perfect physical body.” “Subhuti, what do you think? Can the Tathagata be recognized by means of his perfect attributes?”
“No, World Honored One. The Tathagata cannot be recognized by means of his perfect attributes. Why? The Tathagata teaches that ‘perfect attributes’ are actually not perfect attributes. Therefore they are called perfect attributes.” </string>
		<string>“Subhuti, do not think that the Tathagata holds the thought ‘I have something to teach.’ Do not even think such a thing. Why not? Whoever says that the Tathagata has a Dharma to teach slanders the Buddha, because he does not understand
my teaching. Subhuti, in teaching the Dharma there is no Dharma to teach. This is called teaching the Dharma.” Then the wise Venerable Subhuti said to the Buddha: “World Honored One, will there be sentient beings in the future [during the Dharma ending age] who will generate faith upon hearing these teachings?” The Buddha said: “Subhuti, they are neither sentient beings nor non-sentient beings. Why? Subhuti, the Tathagata teaches that sentient beings, who go through many births, are not sentient beings. Therefore they are called sentient beings.” </string>
		<string>Subhuti said to the Buddha: “World Honored One, when the Buddha attained unsurpassed complete enlightenment, was nothing actually attained?” The Buddha said, “So it is, Subhuti,so it is. As to unsurpassed complete enlightenment, I have not attained the slightest thing. This is why it is called unsurpassed complete enlightenment.” </string>
		<string>“Furthermore, Subhuti, all dharmas are equal, none is superior or inferior. This is called unsurpassed complete enlightenment.
When one cultivates all good without the notions of a self, a person, a sentient being, or a lifespan, one attains unsurpassed complete enlightenment. Subhuti, the Tathagata teaches that good is not good, therefore it is good.” </string>
		<string>“Subhuti, if a person were to accumulate the seven jewels into mounds equivalent to all Mt. Sumerus in the worlds of a trichiliocosm and give them away in charity, and an other person recited, remembered, followed, and taught this prajna paramita sutra or even a four-line verse of this sutra to others, the merit of the former would not be a hundredth, or even a billionth, of that of the latter. In fact, the merit of the latter would be so great that no comparison, by calculation or by analogy, could possibly be made.” </string>
		<string>“Subhuti, what do you think? You should not claim that the Tathagata has the thought, ‘I will liberate sentient beings.’
Subhuti, do not have such a thought. Why? There are in fact no sentient beings for the Tathagata to liberate. If there were sentient beings liberated by the Tathagata, it would mean that the Tathagata holds the notions of a self, a person, a sentient being, or a life span. Subhuti, when the Tathagata says ‘I’, there is actually no ‘I’. Yet ordinary beings think there is a real ‘I’.
Subhuti, the Tathagata says that ordinary beings ar e in fact not ordinary beings. Therefore they are called ordinary beings.” </string>
		<string>“Subhuti, what do you think? Can one discern the Tathagata by means of the thirty-two physical attributes?” Subhuti said, “Yes, yes. One can discern the Tathagata by means of the thirty-two physical attributes.” The Buddha said, “Subhuti, if one discerns the Tathagata by means of the thirty-two physical attributes, then a wheel-turning sage king would be a tathagata.” Subhuti said to the Buddha, “World Honored One, as I unders tand the meaning of what you have said, one should not try to discern the Tathagata by means of the thirty-two physical attributes.” Then the World Honored One spoke this verse:

Those who see me in form, 
Or seek me through sound, 
Are on a mistaken path;
They do not see the Tathagata. </string>
		<string>“Subhuti, if you think that the Tathagata attains unsurpassed complete enlightenment without the perfection of all attributes, then, Subhuti, you should not think this way, because the Tathagata does not attain unsurpassed complete enlightenment without the perfection of all attributes. Subhuti,if you resolve to attain unsurpassed complete enlightenment with such a thought, you would be asserting the extinction of dharmas. You should not think this way. Why? One who resolves to attain unsurpassed complete enlightenment does not assert the extinction of dharmas.” </string>
		<string>“Subhuti, if a bodhisattva were to give away enough of the seven jewels to fill as many world systems as the grains of sand in the Ganges River, and another bodhisattva attained the forbearance of the selfless nature of all phenomena, the virtue of this bodhisattva would exceed that of the former. Why? Subhuti, this is because bodhisattvas do not accumulate merits.” Subhuti said to the Buddha: “World Honored One, how is it that bodhisattvas do not accumulate merits?” “Subhuti, bodhisattvas do not cling to the merits they generate. Therefore I say that they do not accumulate merits.” </string>
		<string>“Subhuti, whoever says that the Tathagata (‘Thus-come One’) comes, goes, sits, or lies down does not understand the meaning of my teaching. Why? The Thus-come One neither comes nor goes. Therefore he is called ‘Thus-come One’.” </string>
		<string>“Subhuti, what do you think? If a good man or good woman were to take all the worlds of a trichiliocosm and crush them into tiny particles, wouldn’t these particles be numerous?”
“Extremely numerous, World Honored One. Why? If these tiny particles had real existence, the Buddha would not call them tiny particles. What does this mean? What the Buddha calls ‘tiny particles’ are not tiny particles. Therefore they are called tiny particles. World Honored One, that which the Tathagata calls ‘all the worlds of a trichiliocosm’ are actually not worlds.
Therefore they are called worlds. Why? To the extent that these worlds really exist, they do so as a composite. The Tathagata teaches that ‘composites’ are not composites. Therefore they are called composites.” “Subhuti, a composite is actually ineffable, but ordinary beings form attachments to such phenomena.” </string>
		<string>“Subhuti, if someone claims that I teach views of a self, a person, a sentient being, or a life span, what would you say? Has this person understood the meaning of my teaching?”
“World Honored One, this person has not understood the meaning of the Tathagata’s teaching. Why? The World Honored One explains that views of a self, a person, a sentient being, or a life span are actually not views of a self, a person, a sentient being, or a life span. Therefore they are called views of a self, a person, a sentient being, or a life span.” “Subhuti, one who resolves to attain unsurpassed complete enlightenment should know, perceive, believe, and understand all dharmas like this, just as they are, without attachment to the attributes of any dharma. Subhuti, the Tathagata has explained that dharma attributes are not dharma attributes, therefore they are called dharma attributes.” </string>
		<string>Subhuti, if a person were to amass enough of the seven jewels to fill countless worlds and give them away in charity, and if a good man or good woman with the bodhisattva resolve takes as few as a four-line verse of this sutra, recites, remembers, follows, and expounds it to others, the latter’s merit would far exceed that of the former. How should one teach it to others?
Without attachment, abiding in stillness and suchness. Why?

All conditioned phenomena
Are like a dream, an illusion, a bubble, a shadow,
Like dew or a flash of lightning;
Thus we shall perceive them.”

With this the Buddha concluded the sutra. The elder Subhuti, other bhiksus, bhiksunis, upasakas, upasikas, heavenly and human beings, asuras, and other beings of the world, having heard the Buddha, were all filled with immense joy; they accepted and followed the teaching faithfully.

The Diamond of Perfect Wisdom Sutra </string>
	</array>
	<key>Title</key>
	<array>
		<string>Convocation of the Assembly </string>
		<string>Subhuti Requests the Teaching</string>
		<string>The Bodhisattva Vow</string>
		<string>Unattached Practice of Charity</string>
		<string>Physical Attributes of Buddhahood</string>
		<string>The Merit of True Faith</string>
		<string>No Attainment, No Teaching</string>
		<string>Real Merit Has No Merit</string>
		<string>The Four Stages of an Arhat</string>
		<string>Transformation to a Buddha World</string>
		<string>Merits of this Sutra</string>
		<string>The Most Extraordinary Merit</string>
		<string>Naming of the Sutra</string>
		<string>A Mind Without Attachments</string>
		<string>The Sutra Is a Supreme Vehicle</string>
		<string>Purgation of Bad Karma</string>
		<string>All Dharmas Are Non-Dharmas</string>
		<string>All Thoughts Are Intangible</string>
		<string>No Merit Is Great Merit</string>
		<string>Transcending Physical Attributes</string>
		<string>There Is No Dharma to Teach</string>
		<string>No Attainment Is Supreme Enlightenment</string>
		<string>All Dharmas Are Equal</string>
		<string>The Merits of Transmitting the Sutra</string>
		<string>There Are No Beings to Liberate</string>
		<string>Seek the Buddha Not in Form or Sound</string>
		<string>Avoid Annihilistic Views</string>
		<string>Bodhisattvas Do Not Accumulate Merits</string>
		<string>The Thus-Come One Neither Comes Nor Goes</string>
		<string>The Nature of the World</string>
		<string>Extinction of the Four Views</string>
		<string>All Phenomena Are Illusions</string>
	</array>
</dict>
</plist>
